* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;    
}
body {
    background-color: #A8A1A0;
}

header {
    background-color: white;
    color: #0A0A0A;
    padding: 10px;
    position: fixed;
    width: 100%;
    min-height: auto;
    top: 0;
    left: 0;
    z-index: 100; 
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: espace-around;
}

nav li {
    margin-left: 20px;
    display: flex;
}

nav a {
    color: #0A0A0A;
    text-decoration: none;
    padding: 10px;
    display: flex;
    font-size: 30px;  
}

nav li ul {
	display:none;
    position: absolute;
}

nav li a {
    background-color: white;
	color: #0A0A0A;
}
			
nav li a:hover {
	background-color:white;
    color: red;
}

nav li:hover > ul {
	display:block;
}
			
nav li ul li {
	position:relative;
}

.slider{
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    padding-top: 80px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    overflow: hidden;
    padding: 0;
    animation: cambio 20s infinite linear;
    width: 400%;
    max-height: 80vh;
}
.slider li{
    width: 100%;
    height: auto;
    list-style: none;
}
.slider img{
    width: 90%;
    height: 80lvh;
    padding-left: 100px;
    padding-bottom: 20px;
    position: relative;
    display: block;
}

.contenedor {
    padding-top: 100px; 
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    background-color: #A8A1A0;
    margin: 50px auto 0;
    gap: 20px;
    flex-wrap: wrap;
}
.col-izq {
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 4px solid #111;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 60%;
}

.col-der {
    background: white;
    padding: 40px 0;   
    align-items: center;
    justify-content: center;
    position: relative;    
    border: 4px solid #111;
    border-radius: 10px;
    flex: 1 1 35%;
    display: inline-block;
}

.foto-circular {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #0A0A0A;
    background: #fff;
    margin: 120px;
    align-items: center;
    justify-content: center;
}

.foto-circular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  
}

.laboral {
    padding-top: 120px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.columna.texto {
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 4px solid #111;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.columna.imagen {
    background-color: #A8A1A0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna.imagen img {
    max-width: 100%;
    border: 5px solid #333;   
    border-radius: 10px;      
}

.Civil {
    padding-top: 120px;
    display: flex;
    gap: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}
.Penal {
    padding-top: 120px;
    display: flex;
    gap: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}
.Extranjeria {
    padding-top: 120px;
    display: flex;
    gap: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}

.formulario {
    width: 200px;
    justify-content: space-between;
    max-width: 700px;
    margin: 300px;
    display: flex;
    align-items: flex-start; 
    box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
    padding: 30px;
    margin-top: 300px;
    gap: 30px;
    height: 150px;
}

.info-formulario {
    flex:1;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    border: none;

}

.info-formulario p{
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.info-formulario a {
    font-size: 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 100px;
}

.info-formulario i{
    color: brown;
    margin-right: 10px;
}
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo, textarea{
    width: 400px;
    padding: 10px 10px;
    font-size: 17px;
    border: 2px solid #181717;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 300px;  
    margin-left: 100px;
}

.formulario-form textarea {
    max-width: 400px;
    min-width: 400px;
    min-height: 200px;
    max-height: 200px;
}
.enviar {
    padding: 15px;
    font-size: 15px;
    background: #0A0A0A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    max-width: 400px;
}
.enviar:hover {
    background: #A34545;
}


@keyframes cambio{
    0% { margin-left: 0; }
    20% { margin-left: 0; }
   
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width: 600px) {

    header {
    flex-direction: column; 
    padding: 10px;
    text-align: center;
    }

    nav a {
    font-size: 50%;
    }

   .contenedor {
    flex-direction: column;
    text-align: center;
   }
   .col-der {
    width: 300px;
    height: 150px;
  
   }
   .col-izq {
    flex: 1 1 100%;
     }
   .col-izq img {
    width: 20px;
   }
   .foto-circular{
    margin: 10px;
    width: 250px;
    height: 200px;
   }
   
    body {
    padding: 10px;
    }

    .info-formulario{
        font-size: 10px;
    }

    .formulario {
        margin: 0;
        margin-top: 100px;
        padding: 15px;
        font-size: 10px;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }
    .info-formulario i{
        font-size: 12px;
        margin: 10px;
    }
    .info-formulario a{
        font-size: 12px;
        margin: 10px;
    }
    .info-formulario p{
       font-size: 12px;
        margin: 10px; 
    }
     .campo, textarea {
    font-size: 12px;
    min-height: 25px;
    max-height: 50px;
    max-width: 300px;
    margin: 5px;
 
   }
    .enviar {
        font-size: 14px;
        padding: 10px;
    }

    
}